:root {
    --dark-blue: hsl(219, 63%, 37%);
    --low-blue: #e6f7f7;
    --very-dark-blue: hsl(253, 57%, 35%);
    --dark-grayish-blue: hsl(228, 36%, 47%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--low-blue);
    height: 100vh;
    width: 100%;
}

.geral {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geral .card {
    width: 500px;
    background-color: var(--white);
    display: flex;
    border-radius: 12px;
    margin: 30px;
}

.geral .card .card__img,
.geral .card .card__content {
    width: 50%;
}

.geral .card .card__img picture {
    width: 100%;
    height: 100%;
    display: block;
}

.geral .card .card__img picture img {
    width: 100%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.geral .card .card__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.geral .card .card__content .card__tag {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--dark-grayish-blue);
}

.geral .card .card__content .card__title {
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
}

.geral .card .card__content .card__desc {
    font-size: 14px;
    color: var(--dark-grayish-blue);
    line-height: 24px;
}

.geral .card .card__content .card__price {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.geral .card .card__content .card__price h1 {
    color: var(--dark-blue);
    font-family: 'Fraunces', serif;
}

.geral .card .card__content .card__price s {
    font-size: 14px;
    color: var(--dark-grayish-blue);
}

.geral .card .card__content .card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: var(--dark-blue);
    padding: 14px;
    outline: none;
    border: 0;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background 200ms linear;
}

.geral .card .card__content .card__btn:hover {
    background-color: var(--very-dark-blue);
}

@media (max-width: 600px) {
    body {
        height: auto;
    }

    .geral {
        padding: 20px;
    }

    .geral .card {
        flex-direction: column;
    }

    .geral .card .card__img,
    .geral .card .card__content {
        width: 100%;
    }

    .geral .card .card__img picture img {
        border-radius: 12px 12px 0px 0px;
    }

    .geral .card .card__content {
        padding: 20px;
        row-gap: 16px;
    }
}

/* ---------CARD------------ */

.container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    width: 65%;
    margin: 0 auto;
    margin-left: 16%;
    z-index: 0;
}

.qr {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-left: 7rem;
    z-index: 2;
}

.qr:hover {
    transform: scale(5);
    transition: 1s;
    -webkit-box-shadow: 0px 0px 300px 20px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 0px 0px 300px 20px rgba(0, 0, 0, 0.86);
    box-shadow: 0px 0px 300px 20px rgba(0, 0, 0, 0.86);
}

.h1T {
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.p {
    font-size: 20px;
    text-align: justify;
    color: var(--dark-grayish-blue);
    line-height: 24px;
    width: 50%;
}

.texts {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.logoBG {
    position: absolute;
    top: 28rem;
    right: -11.5rem;
}

.edit {
    display: flex;
}